---
import "../../styles/header.css";
import BugIcon from "../../assets/icons/system/BugIcon.astro";
import HamburgerIcon from "../../assets/icons/system/HamburgerIcon.astro";
import getAppData from "../../content/data/app.ts";
import { getRelativeLocaleUrl } from "astro:i18n";
import type { Locale } from "../../types/Locales.ts";
import clsx from "clsx";
const locale = Astro.currentLocale!;
const app = await getAppData(locale as Locale);
const url = Astro.url;
---

<header class="bg-surface backdrop-blur-md">
  <div class="title">
    <figure class="w-6 h-6">
      <BugIcon />
    </figure>
    <h1 class="font-bold">{app.title}</h1>
  </div>
  <nav class="desktop">
    {app.nav.map(item => (
      <li class="w-fit h-fit text-xs xl:text-sm 2xl:text-base">
        <a href={getRelativeLocaleUrl(locale, item.path)}
           class={clsx("nav-item",
             getRelativeLocaleUrl(locale, item.path).startsWith(url.pathname) &&
             getRelativeLocaleUrl(locale, item.path).length <= url.pathname.length+1
             && "active"
           )}>
          {item.label}
        </a>
      </li>
    ))}
  </nav>
  <figure id="sb-trigger" class="w-6 h-6 mobile"><HamburgerIcon/></figure>
</header>
<div class="false_header"/>
