---
import "../styles/global.css";
import Header from "../components/organisms/Header.astro";
import Sidebar from "../components/organisms/Sidebar.astro";
import ProfileCard from "../components/organisms/ProfileCard.astro";
import clsx from "clsx";
interface Props {
  title: string;
  className?: string;
}
const { title, className } = Astro.props;
const locale = Astro.currentLocale!;
---

<!doctype html>
<html lang={locale}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <Sidebar/>
    <div id="main_container" class="main">
      <div class="left">
        <ProfileCard />
        <slot name="card" />
      </div>
      <main id="main" class={clsx(className)}>
        <slot/>
      </main>
    </div>
  </body>
</html>
<script>
  const sidebar = document.getElementById("sidebar")
  const handle_sidebar = () => {
    if(!sidebar) return;
    sidebar.classList.toggle("open");
  }
  document.addEventListener("scrollend", () => {
    const top = document.body.scrollTop;
    localStorage.setItem("scrollY", top.toString())
  })
  document.addEventListener("astro:page-load", ()=> {
    const top = localStorage.getItem("scrollY");
    if(!top) return;
    document.body.scrollTo({behavior: "smooth", top: Number(top)});
  })
  document.getElementById("sb-trigger")?.addEventListener("click", handle_sidebar)
  document.getElementById("sb-trigger2")?.addEventListener("click", handle_sidebar)
</script>
