---
import clsx from "clsx";
interface Props {
  title: string;
  className?: string;
}
const { title, className } = Astro.props;
---
<div class={clsx("card_container", className)}>
  <div class="card_title">
    <figure class="card_title-figure"><slot name="icon" /></figure>
    <h4 class="text-xl capitalize">{title}</h4>
  </div>
  <div class="font-light text-sm">
    <slot/>
  </div>
</div>
<style is:inline>
  .card_title{
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .card_title-figure{
    padding: 5px;
    width: 24px;
    height: 24px;
    background: var(--primary-disabled);
    color: var(--text-alternative);
    border-radius: 8px;
  }
  .card_container{
    width: 100%;
    display: flex;
    padding: 15px 0;
    flex-direction: column;
    gap: 10px;
  }
</style>
