---
import type { ISkillCategory } from "../../../core/types/ISkill.ts";
import SkillItem from "./SkillItem.astro";
interface Props {
  category: ISkillCategory;
  proficiency: string;
  frequency: string;
}
const { category, proficiency, frequency } = Astro.props;
---
<div class="skills_category-container">
  <div class="flex flex-col items-center gap-1 skills_category-title justify-center">
    <h4 class="capitalize">{category.name}</h4>
  </div>
  {Array.from({length: Math.ceil(category.items.length / 6)}).map((_, i) => (
    <ul class="gap-2 skills_items-container grid sm:grid-cols-2 md:grid-cols-3 2xl:grid-cols-6">
      {category.items
        .sort((a,b)=> b.proficiency - a.proficiency)
        .slice(i*6, (i+1)*6)
        .map(item => (
            <SkillItem item={item} frequency={frequency} proficiency={proficiency} />
        ))}
    </ul>
  ))}
</div>
