section {
  width: 100%;
  height: fit-content;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  background: var(--surface);
  gap: 50px;
}

.section_header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.section-title {
  text-align: left;
  text-transform: capitalize;
  font-size: 2.25rem;
  font-weight: 800;
}
.section-description {
  text-align: left;
  font-size: 1rem;
}
.section_decoration{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: baseline;
  gap: var(--gap);
}
.section_decoration-line{
  width: 150px;
  height: 2px;
  background: linear-gradient(to right, transparent 0%, var(--primary) 10%, var(--primary) 90%, transparent 100%);
}
.section_decoration-icon{
  position: relative;
  top: 15px;
  width: 60px;
  height: 60px;
  color: var(--primary);
}