section {
  width: 100%;
  height: fit-content;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  background: var(--surface);
  gap: 50px;
}

.section_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-title {
  text-align: center;
  text-transform: capitalize;
  font-size: 1.725rem;
  font-weight: 800;
}
.section-description {
  text-align: center;
  font-size: 0.825rem;
}
.section_decoration {
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: center;
  align-items: center;
  gap: var(--gap);
}
.section_decoration-line {
  width: 150px;
  height: 2px;
  background: linear-gradient(
    to right,
    transparent 0%,
    var(--primary) 10%,
    var(--primary) 90%,
    transparent 100%
  );
}
.section_decoration-icon {
  position: relative;
  width: 45px;
  height: 45px;
  color: var(--primary);
}
@media (min-width: 768px) {
  .section-description {
    font-size: 0.925rem;
  }
}
